{% extends "base.html" %}
{% block content %}
    <div class="container">
        {% if current_user.is_authenticated %}
            <form class="form well" style="max-width: 720px; margin: 0 auto" id="answer">
                <div class="form-group">
                    <label for="question_id">题目编号</label>
                    <input type="text" class="form-control" name="question_id" placeholder="{{ question_id }}" value="{{ question_id }}">
                </div>
                <div class="form-group">
                    <label>选项</label>
                    <div>
                        <div class="radio-inline">
                            <label><input type="radio" name="answer" value="A">A</label>
                        </div>
                        <div class="radio-inline">
                            <label><input type="radio" name="answer" value="B">B</label>
                        </div>
                        <div class="radio-inline">
                            <label><input type="radio" name="answer" value="C">C</label>
                        </div>
                        <div class="radio-inline">
                            <label><input type="radio" name="answer" value="D">D</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">提交</button>
            </form>
        {% else %}
            <div class="alert alert-info" role="alert" style="max-width: 720px; margin: 0 auto">
                <p>登录后开始答题</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block script %}
    <script>
        $("#answer").submit(function (event) {

            event.preventDefault();

            var question_id = $("input[name='question_id']").val();

            var answer = $("input[name='answer']:checked").val();

            var data = JSON.stringify({"question_id": question_id, "answer": answer});

            console.log(data);

            $.ajax({
                url : "/answer",
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {

                    console.log(data["answer_id"]);

                    response = '<div class="alert alert-success alert-dismissible" style="max-width: 720px; margin: 0 auto" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>提交成功</div>';

                    $(".container:last").append(response);

                    $(".alert-success").slideUp(2000);

                },
                error: function (data) {

                    console.log(data["responseText"]);

                    response = '<div class="alert alert-warning alert-dismissible" style="max-width: 720px; margin: 0 auto" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + data["responseText"] + '</div>';

                    $(".container:last").append(response);

                    $(".alert-warning").slideUp(2000);
                },
                contentType: "application/json; charset=utf-8",
            });
        });
    </script>
{% endblock %}